body  { 
	--red: #ee6360;
	--yellow: #e2b263;
	--black: #313537;
	margin:0;
	padding:0;
}

h1  {
	color: var(--black);
	text-align: justify;
	font: bold 7vw Arial, Helvetica, sans-serif;
}

a:link {
	color: var(--red);
	text-decoration:underline;
}

a:visited {
	color: var(--black);
	text-decoration:none;
}


a:hover  {
	color: var(--black);
	background-color: var(--yellow);
}

#content {
    display: flex;
    justify-content:center;
    align-items:center;
}

img { 
    display: block;
	position: fixed;
	right: 1%;
	bottom: 1%;
}