body  { 
	margin:0;
	padding:0;
	background-color: #FFFFFF;
}

h1  {
	color: #313537;
	text-align: justify;
	font: bold 7vw Arial, Helvetica, sans-serif;
}

a:link {
	color: #ee6360;
	text-decoration:underline;
}

a:visited {
	color: #313537;
	text-decoration:none;
}


a:hover  {
	color: #313537;
	background-color: #e2b263;
}

#content {
    display: flex;
    justify-content:center;
    align-items:center;
}